@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro:100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

div.sign-up {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin: 0;
    padding: 1em;
    background-image: linear-gradient( 180.2deg,  rgba(30, 33, 48, 0.808) 6.8%, rgba(68, 137, 172, 0.918) 131% );
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
}

header:hover {
  background-image: linear-gradient( 180.2deg,  rgba(30, 33, 48, 0.808) 6.8%, rgba(68, 137, 172, 0.918) 131% );
}
nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    text-decoration:none;
    text-transform: uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    padding:0.5em 2em;
    border:0.16em solid #FFFFFF;
    color:rgb(134, 128, 128);
    transition: all 0.15s;
    border-radius: 30px;
}

.product-video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 2em;
}

.nav-link:hover{
    color:rgba(231, 181, 181, 0.842);
    border-color:rgba(79, 231, 91, 0.87);
    border-width: 1em;
}

.nav-link:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}


h1 {
    font-size: 3em;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-weight: 100;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-bottom: 20px;
}

h2 {
  font-family: "roboto", monospace;
  color: rgb(54, 53, 53);
  padding-top: 1em;
  font-style: italic;
  font-weight: 800;
}
p {
  padding-bottom: 1em;
  font-style: italic;
  font-family: 'source Code Pro', monospace;
}
#email {
    text-decoration:none;
    text-transform: uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    padding:0.5em 1em;
    border:0.16em solid #FFFFFF;
    color:rgb(214, 211, 211);
    transition: all 0.15s;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    animation: myAnimation 5s ease 1s 1 alternate forwards;
}

@keyframes myAnimation {
  50% {
    box-shadow: 0px 0px 25px orange;
  }	
  100% {
    box-shadow: 1px 1px 8px black inset;
  }	
}

#submit-btn {
    padding: 1em 0;
}

#submit {
    color: rgba(32, 143, 37, 0.705);
    font-weight: 700;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-image: linear-gradient( 179.7deg,  rgb(174, 217, 250) 2.9%, rgba(166, 211, 250, 0.61) 97.1% );
  padding-bottom: 2em;
}

#features-list {
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  text-decoration: none;
  font-family: monospace;
}

#money {
  background: url('money.png') no-repeat;
  background-position: left;
  background-size: 40px;
  padding: 0px 0 3px 50px;
}

#time {
  background: url('time.png') no-repeat;
  background-position: left;
  background-size: 40px;
  padding: 0px 0 3px 50px;
}

#prod {
  background: url('productivity.png') no-repeat;
  background-position: left;
  background-size: 40px;
  padding: 0px 0 5px 50px;
}

footer{
    height: 75px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.footer {
    background-image: linear-gradient( 45deg,  rgba(68, 75, 109, 0.808) 6.8%, rgba(68, 137, 172, 0.918) 45% );
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
  }
  
.footer > ul > li > a{
    padding: 0 0.2em;
    margin: 0 20px;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1em;
  }
  
.footer > span {
    margin-top: 5px;
    padding-left: 0.9em;
    font-size: 0.9em;
    color: #444;
  }



  #pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient( 179.7deg,  rgba(166, 211, 250, 0.61) 2.9%, rgba(144,175,202,1) 97.1% );
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 3em;
    border: 2px solid rgba(141, 118, 118, 0.11);
    border-radius: 25px;
  }
  
  .product > .level {
    background-color: rgba(250, 250, 250, 0.11);
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 25px;
    border-bottom: 2px solid rgba(8, 155, 67, 0.192);

  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
    text-align: center;
  }
  
  .product > button {
    border: 2px solid wheat;
    border-radius: 30px;
    padding: 0.5em 1.5em;
    margin: 15px 0;
    background-color: #d6d4cd00;
    font-weight: 600;
    color: rgb(16, 11, 43);
  }
  
  .product > button:hover {
    background-color: rgba(133, 241, 191, 0.322);
    border: 5px solid rgba(19, 241, 12, 0.685);
    transition: background-color 1s;
  }